<header class="header">
  <div class="header__top">
    <div class="header__container">
      <a href="./index.html" class="custom-logo-link">
        <img src="./img/icons/logo.svg" alt="Logo" />
      </a>

      <div class="header__body">
        <ul class="header__connect">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/con_1.svg" alt="Viber" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/con_2.svg" alt="Telegram" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/con_3.svg" alt="Whatsapp" />
            </a>
          </li>
        </ul>

        <address class="header__address">
          <a href="tel:+380672158888">
            <div class="tel-ico">
              <img src="./img/icons/tel.svg" alt="Phone" />
            </div>
            <span class="tel-text">+38 (067) 215-88-88</span>
          </a>
        </address>

        <button type="button" class="btn-def">
          <span class="btn-part1">Заявка на демонтаж</span>
          <span class="btn-part2">Демонтаж</span>
        </button>

        <ul class="header__lang">
          <li
            id="menu-item-406"
            class="is-active pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
          >
            <a href="#">
              <img src="./img/icons/flag_1.jpg" alt="" />
              Українська
            </a>
            <ul class="sub-menu">
              <li
                id="menu-item-406-en"
                class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
              >
                <a href="#" hreflang="en-GB" lang="en-GB">
                  <img src="./img/icons/flag_2.jpg" alt="" />
                  English
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <button type="button" class="burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="header__container">
      <load src="partials/header/parts/nav.html" />

      <ul class="header__soc">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_1.svg" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_2.svg" alt="TikTok" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_3.svg" alt="YouTube" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_4.svg" alt="Instagram" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <load src="partials/header/parts/mob.html" />
</header>
