<section class="completed">
  <div class="completed__container">
    <div class="completed__content">
      <h2 class="tlh2">Виконані проєкти</h2>
      <div class="completed__text">
        <p>
          Ознайомтесь як виглядали об'єкти до демонтажу, що залишилось після, і
          яку роботу було проведено для досягнення результату
        </p>
      </div>
      <a href="#" class="btn-def">Всі виконані проєкти</a>
    </div>

    <div class="completed__img-wrapp">
      <img-comparison-slider>
        <img slot="first" width="100%" src="./img/content/completed_1.jpg" />
        <img slot="second" width="100%" src="./img/content/completed_2.jpg" />
        <svg
          slot="handle"
          viewBox="0 0 32 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.4654 12.0882L23.0845 0.310547V23.8659L31.4654 12.0882Z"
            fill="white"
          />
          <path
            d="M0.0370169 12.0882L8.41797 0.310547V23.8659L0.0370169 12.0882Z"
            fill="white"
          />
        </svg>
      </img-comparison-slider>
    </div>
  </div>
</section>
