<div class="modal is-transition" id="orderModal">
  <div class="comeback__container">
    <button class="comeback" type="button">
      <span>Повернутись назад</span>
    </button>
  </div>

  <div class="modal__container">
    <div class="modal__body">
      <div class="modal__main">
        <h3 class="tlh3">Залиште заявку на демонтаж дорожнього покриття</h3>
        <div class="modal__text">
          <p>
            Заповніть форму нижче і наші фахівці оперативно зв'яжуться з вами,
            щоб обговорити деталі вашого проекту
          </p>
        </div>
        <form class="modal__form">
          <div class="modal__box">
            <!-- <label class="modal__checkbox is-error"> -->
            <label class="modal__label">
              <p>Ім’я</p>
              <input
                type="text"
                name="orderName"
                placeholder="Ім’я"
                data-required="true"
              />
              <span></span>
            </label>
            <label class="modal__label">
              <p>Телефон</p>
              <input
                type="tel"
                name="orderTel"
                placeholder="Телефон"
                data-required="true"
              />
              <span></span>
            </label>
            <label class="modal__label">
              <p>Коментар</p>
              <textarea
                name="orderMess"
                rows="5"
                placeholder="Коментар"
              ></textarea>
              <span></span>
            </label>
          </div>

          <div class="modal__bottom">
            <!-- <label class="modal__checkbox is-error"> -->
            <label class="modal__checkbox">
              <input type="checkbox" name="agree" data-required="true" />
              <span></span>
              <p>
                Погоджуюся з
                <a href="./policy.html">політикою конфіденційності</a>
              </p>
            </label>

            <button type="submit" class="btn-def">Надіслати</button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal__bg no-select">
      <img src="./img/decor/present_bg.png" alt="" />
    </div>
  </div>
</div>
