<section class="question">
  <div class="question__container">
    <div class="question__body">
      <div class="question__content">
        <h2 class="tlh2">Є питання? Замовте консультацію</h2>
        <div class="question__text">
          <p>
            Компанія "Демонтажнік" пропонує професійні консультаційні послуги
            для ефективного планування та реалізації демонтажних і
            будівельно-відновлювальних робіт. Наші експерти надають всебічну
            підтримку на кожному етапі проекту, забезпечуючи успішне та безпечне
            виконання завдань.
          </p>
        </div>
        <button data-id="consultModal" type="button" class="btn-def open-modal">
          Замовити консультацію
        </button>
      </div>

      <div class="question__img no-selec">
        <div><img src="./img/content/question_1.png" alt="" /></div>
      </div>
    </div>
  </div>
</section>
