.breadcrumbs {
  &__container {
    position: relative;
    max-width: 90rem;
  }
  position: absolute;
  z-index: 1;
  top: 1.44rem;
  left: 2.5rem;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.94rem;
    li {
      display: flex;
      align-items: center;
      color: var(--ct);
      font-size: 0.875rem;
      line-height: 1.7;
      span {
        padding-right: 0.94rem;
      }
      &::after {
        content: "-";
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

.def-soc {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    overflow: hidden;
    border-radius: 50%;
    display: block;
    width: 2.625rem;
    height: 2.625rem;
    img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 960px) {
  .breadcrumbs {
    position: absolute;
    z-index: 1;
    top: 1.12rem;
    left: 1.25em;
  }
}

@media screen and (max-width: 500px) {
}
