.breadcrumbs {
  margin-top: 1.5rem;

  &__container {
    position: relative;
    max-width: 90rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.94rem;
    li {
      display: flex;
      align-items: center;
      color: var(--ct);
      font-size: 0.875rem;
      line-height: 1.7;
      &:last-child {
        span,
        a {
          margin-right: 0;
        }
      }
      span,
      a {
        margin-right: 0.94rem;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      &::after {
        content: "-";
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

.def-soc {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    overflow: hidden;
    border-radius: 50%;
    display: block;
    width: 2.625rem;
    height: 2.625rem;
    transition: all 0.15s ease-in;
    border: 0.0625rem solid transparent;
    img {
      object-fit: cover;
    }
    &:hover {
      -webkit-box-shadow: 0 0.125rem 0.3125rem -0.0625rem rgba(66, 68, 90, 1);
      -moz-box-shadow: 0 0.125rem 0.3125rem -0.0625rem rgba(66, 68, 90, 1);
      box-shadow: 0 0.125rem 0.3125rem -0.0625rem rgba(66, 68, 90, 1);
      border-color: var(--ce);
    }
  }
}

.splide {
  &__pagination {
    bottom: -3.125rem !important;
    transform: translateY(100%) !important;
    gap: 0.625rem !important;
    li {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      line-height: normal !important;
    }
  }
  &__pagination__page {
    margin: 0 !important;
    width: 0.5rem !important;
    height: 0.5rem !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    background-color: var(--cy) !important;
    &.is-active {
      border: 0.25rem solid var(--cy) !important;
      width: 0.75rem !important;
      height: 0.75rem !important;
      background: var(--cm) !important;
      transform: none !important;
    }
  }
}

.pagination__cont {
  margin-top: 3.75rem;
  display: flex;
  justify-content: end;
  .facetwp-pager {
    display: flex;
    align-items: center;
  }
  .facetwp-page {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cb);
    text-align: center;
    font-weight: 500;
    line-height: normal;
    width: 2.75rem;
    height: 2.75rem;
    transition: all 0.15s ease-in;
    &.active {
      background-color: var(--cy);
    }
    &:hover {
      background-color: var(--cy);
    }
  }
}

.newcard {
  display: flex;
  flex-direction: column;
  background-color: var(--cq);
  transition: all 0.15s ease-in;

  &:hover {
    box-shadow: 0 0.25rem 0.75rem 0 rgba(11, 11, 11, 0.24);
    .newcard__img {
      a {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }

  &__img {
    flex-shrink: 0;
    overflow: hidden;

    a {
      display: block;
      transition: all 0.15s ease-in;
      position: relative;
      padding-top: 60%;
    }
  }
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.875rem 1.875rem 1.875rem;
  }
  &__date {
    transform: translateY(-50%);
    width: fit-content;
    background-color: var(--cm);
    padding: 0.5938rem 0.7813rem;
    p {
      line-height: 1.4;
      color: var(--cw);
    }
  }
  &__name {
    display: block;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  &__desc {
    flex-grow: 1;
    margin-bottom: 1.375rem;
    p {
      font-size: 0.875rem;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.workcard {
  &:hover {
    .workcard__img {
      box-shadow: 0 0.25rem 0.75rem 0 rgba(11, 11, 11, 0.24);
      a {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
  &__img {
    overflow: hidden;
    transition: all 0.15s ease-in;
    a {
      display: block;
      position: relative;
      padding-top: 100%;
      transition: all 0.15s ease-in;
    }
  }

  &__info {
    position: relative;
    margin-top: 0.75rem;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-60%);
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--cy);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
    span {
      width: 0.75rem;
      height: 0.75rem;
      transition: all 0.15s ease-in;
    }
    &:hover,
    &:focus {
      box-shadow: 0 0 1.875rem 0 rgba(254, 209, 4, 0.6);
      span {
        transform: rotate(45deg);
      }
    }
  }

  &__name {
    padding-right: 4.25rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
  }
}

.infservice {
  display: flex;
  align-items: center;
  gap: 3.875rem;

  &__content {
    position: relative;
    z-index: 3;
  }

  &__text {
    margin-bottom: 2.38rem;
    p {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__img {
    position: relative;
    flex-shrink: 0;
    width: 31.0625rem;
    height: 25rem;
    img {
      z-index: 2;
    }
  }

  .tlh2 {
    margin-bottom: 1.44rem;
  }
}

.contact {
  .location {
    padding-top: 4.5rem;
  }
}
.policy {
  .tlh2 {
    margin-bottom: 1.44rem;
  }
}

@media screen and (max-width: 960px) {
  .breadcrumbs {
    margin-top: 1.125rem;
  }

  .pagination__cont {
    margin-top: 3.125rem;
    justify-content: center;
  }

  .newcard {
    &__info {
      padding: 0 1.625rem 1.875rem 1.625rem;
    }
    &__img {
      a {
        padding-top: 65%;
      }
    }
  }

  .workcard {
    &__info {
      margin-top: 0.625rem;
    }
  }

  .infservice {
    align-items: stretch;
    flex-direction: column;
    gap: 3.12rem;

    &__text {
      margin-bottom: 2.62rem;
      p {
        line-height: 1.7;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      padding-top: 55%;
    }

    .tlh2 {
      margin-bottom: 1.31rem;
    }
  }

  .contact {
    .location {
      padding-top: 4rem;
    }
  }
  .policy {
    .tlh2 {
      margin-bottom: 1.31rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .pagination__cont {
    margin-top: 2.8125rem;
  }

  .newcard {
    &__img {
      a {
        padding-top: 70%;
      }
    }
  }

  .workcard {
    &__img {
      padding-top: 75%;
    }

    &__info {
      margin-top: 0.5625rem;
    }

    &__name {
      font-size: 0.875rem;
    }
  }

  .infservice {
    gap: 2.5rem;

    &__text {
      margin-bottom: 2.06rem;
      p {
        font-size: 0.875rem;
        margin-bottom: 0.75rem;
      }
    }

    &__img {
      padding-top: 60%;
    }

    .tlh2 {
      margin-bottom: 1.19rem;
    }
  }

  .contact {
    .location {
      padding-top: 3rem;
    }
  }
  .policy {
    .tlh2 {
      margin-bottom: 1.19rem;
    }
  }
}
