@media screen and (max-width: 960px) {
}

@media screen and (max-width: 500px) {
}

.pd1 {
  padding: 6rem 0;
}

.tlh1 {
  font-size: 3.125rem;
  font-weight: 700;
}
.tlh2 {
  font-size: 2.125rem;
  font-weight: 600;
}
.tlh3 {
  font-size: 2rem;
  font-weight: 600;
}
.tlh4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
}

.tlw {
  color: var(--cw);
}
.spy {
  a,
  span {
    color: var(--cy);
  }
  a {
    text-decoration-line: underline;
  }
}

.btn-def {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.88rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: normal;
  padding: 1.44rem 1.88rem;
  background-color: var(--cy);
  transition: all 0.15s ease-in;
  &::after {
    content: "";
    flex-shrink: 0;
    width: 0.75rem;
    height: 0.75rem;
    background-size: 0.75rem 0.75rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--btnVector);
    transition: all 0.15s ease-in;
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 1.875rem 0 rgba(254, 209, 4, 0.6);
    &::after {
      transform: rotate(45deg);
    }
  }
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6875rem;
  height: 3.6875rem;
  border-radius: 50%;
  background-color: var(--cy);
  transition: all 0.15s ease-in;
  span {
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    clip-path: polygon(20% 5%, 20% 95%, 100% 50%);
    background-color: var(--cm);
    transition: all 0.15s ease-in;
  }
}

@media screen and (max-width: 960px) {
  .pd1 {
    padding: 5.5rem 0;
  }

  .tlh1 {
    font-size: 2.5rem;
  }
  .tlh2 {
    font-size: 1.75rem;
  }

  .btn-play {
    width: 3.1875rem;
    height: 3.1875rem;
    span {
      width: 1.1875rem;
      height: 1.1875rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .pd1 {
    padding: 4.5rem 0;
  }

  .tlh1 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .tlh2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .tlh3 {
    font-size: 1.125rem;
  }
  .tlh4 {
    font-size: 1.125rem;
  }

  .btn-play {
    width: 3.0625rem;
    height: 3.0625rem;

    span {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}
