html,
body {
  font-family: var(--ff);
  color: var(--cm);
  font-size: 1rem;
  line-height: 1.6;
  font-optical-sizing: auto;
}

.overhide {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  flex: 1 1 auto;
  padding-bottom: 6.25rem;
}

[class*="__container"] {
  max-width: 85rem;
  padding: 0 2.5em;
  margin: 0 auto;
}

@media screen and (max-width: 1360px) {
  html,
  body {
    font-size: 1.18vw;
  }
}

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }

  [class*="__container"] {
    padding: 0 1.25em;
  }

  .main {
    padding-bottom: 5.62rem;
  }
}

@media screen and (max-width: 772px) {
  html,
  body {
    font-size: 2.07vw;
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 16px;
  }

  [class*="__container"] {
    padding: 0 29px;
  }

  .main {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 4.27vw;
  }
}
