body {
  /* Colors */
  --cm: #100405;
  --cb: #000;
  --cp: #343434;
  --ct: #8a8a8a;
  --co: #7e7e7e;
  --ce: #e7e7e7;
  --ci: #e4e4e4;
  --cq: #f2f2f2;
  --cw: #fff;
  --cu: #b19600;
  --cy: #fed104;

  /* Fonts */
  --ff: "Montserrat", sans-serif;

  /* Icons */
  --btnVector: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M9.94286 12H12V0H0V2.13793H8.43429L0 10.5517L1.57714 12L9.94286 3.65517V12Z' fill='%23100405'/%3E%3C/svg%3E");

  --langVector: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M1 1.30273L5 5.51201L9 1.30273' stroke='%23100405' stroke-width='0.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
