<section class="policy">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><span>Політика конфіденційності</span></li>
      </ul>
    </div>
  </div>

  <div class="policy__container">
    <div class="policy__body sec-first">
      <h1 class="tlh2">Політика конфіденційності</h1>
      <div class="embeded">
        <h4>Вступ</h4>
        <p>
          Це положення про конфіденційність описує політику конфіденційності
          компанії Демонтажник, стосується користувачів цього сайту і визначає в
          тому числі політику в сфері персональних даних.У разі реєстрації як
          користувача на сайті компанії Демонтажник, або надання нам своїх
          персональних даних, ви таким чином даєте свою згоду на використання і
          обробку цих даних у відповідності до умов цього положення про
          конфіденційність і чинного законодавства України.
        </p>
        <p>
          Якщо у користувачів цього сайту з’явилися питання з приводу цього
          положення про конфіденційність, вони мають право відправити свої
          питання за допомогою форми зворотного зв’язку.
        </p>
        <h4>Збір інформації</h4>
        <p>
          Відвідувачі сайту мають право користуватися даним сайтом, не надаючи
          жодних персональних даних. Ми збираємо тільки ту інформацію про
          користувачів, яку вони відкривають свідомо і добровільно. Такою
          інформацією може бути ім’я, посада, адреса компанії, адреса
          електронної пошти, номери телефону та факсу (але не обмежуючись цими
          даними).
        </p>
        <p>
          Достовірність отриманої інформації від користувачів не перевіряється.
          Наша політика не передбачає збір або зберігання інформації про осіб,
          які не досягли 18-річного віку.
        </p>
        <h4>Технології</h4>
        <p>
          Cookies i Web beaconsЗ метою забезпечення ефективного управління
          сайтом і спрощення системи навігації на ньому, ми або наш провайдер
          (провайдери) послуг, можемо використовувати файли cookie (невеликі
          текстові файли, які веб-сервер відсилає на комп’ютер користувача під
          час перегляду сайту, а браузер користувача зберігає їх ) або
          технологію Web beacons (веб-маяки – електронні зображення, які надають
          сайту можливість вести підрахунок відвідувачів певної сторінки, а
          також звертатися до ряду файлів cookie) для збору зведених даних.
        </p>
        <p>
          Можливе використання цих технологій для узагальнення інформації в
          наших системах і визначення категорій відвідувачів за такими
          параметрами як домен, тип браузера і відвідані сторінки, що служить
          для визначення за її допомогою кількості відвідувань різних розділів
          нашого сайту.
        </p>
        <p>
          Це допомагає забезпечувати корисність і ефективність інформації,
          опублікованої на нашому сайті.Технологія Web beacons і файли cookie не
          збирають жодних персональних даних, зокрема, ім’я або адресу
          електронної пошти. Більшість браузерів надають користувачам можливість
          відключити опцію використання цих технологій.
        </p>
        <p>
          Щоб відмовитися від використання цих технологій необхідно ознайомитися
          з інструкціями вашого браузера.У випадку виникнення складнощів з
          використанням cookie файлів, можливо управляти ними та контролювати їх
          через браузер, в тому числі видаляти їх шляхом стирання з «історії
          браузера» (швидкодіючої буферної пам’яті – кеш), коли завершується
          робота з веб-сайтом.
        </p>
        <p>
          Однак, за деяких обставин доступ до певних розділів нашого сайту може
          бути обмежений, якщо браузери не підтримують використання цих
          технологій.
        </p>
        <h4>Використання інформації</h4>
        <p>
          Інформація, яка містить персональні дані, має обмежене застосування.
          Персональні дані, надані користувачами сайту, можуть використовуватися
          з метою надання необхідної інформації, поліпшення якості послуг, що
          надаються, дослідження ринку, забезпечення інформування клієнтів про
          нові продукти, послуги та пропозиції (акції) компанії ДЕМОНТАЖНИК.
        </p>
        <p>
          Ми забезпечуємо відповідність наших маркетингових акцій чинному
          законодавству України. Користувачі сайту можуть в будь-який час
          надіслати нам запит з проханням припинити розсилку на їх адресу
          повідомлень з інформацією від компанії ДЕМОНТАЖНИК.
        </p>
      </div>
    </div>
  </div>
</section>
