<section class="done">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><span>Виконані роботи</span></li>
      </ul>
    </div>
  </div>

  <div class="done__container">
    <div class="done__body">
      <h1 class="tlh2">Виконані роботи</h1>

      <ul class="done__cards">
        <li class="done__card">
          <div class="done__info">
            <div class="done__heading">
              <p class="done__location">Миколаївська область</p>
              <p class="done__date">Січень-Червень 2024</p>
            </div>
            <h4 class="done__name">
              Демонтаж трьох шкіл, адмінбудівлі загальною площею 13500 м²
            </h4>
            <div class="done__desc">
              <p>
                Демонтаж розпочався вручну через обмежений доступ до ділянки.
                Металеві конструкції розрізали, будівельне сміття сортували та
                вивозили, звільняючи місце для спеціальної техніки та вцілілого
                устаткування, яке передали власнику.
              </p>
              <p>
                Потім було задіяно екскаватор для демонтажу та вивозу сміття,
                автокран і автовишку для демонтажу плит перекриття, ферм та
                металоконструкцій промислової
              </p>
            </div>
            <a href="#" class="btn-def">Детальніше</a>
          </div>

          <div class="done__img-wrapp">
            <img-comparison-slider>
              <img slot="first" width="100%" src="./img/content/done_1.jpg" />
              <img slot="second" width="100%" src="./img/content/done_2.jpg" />
              <svg
                slot="handle"
                viewBox="0 0 32 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.4654 12.0882L23.0845 0.310547V23.8659L31.4654 12.0882Z"
                  fill="white"
                />
                <path
                  d="M0.0370169 12.0882L8.41797 0.310547V23.8659L0.0370169 12.0882Z"
                  fill="white"
                />
              </svg>
            </img-comparison-slider>

            <div class="done__deadline">
              <p>Терміни виконання: 3 тижні</p>
            </div>
          </div>
        </li>
        <li class="done__card">
          <div class="done__info">
            <div class="done__heading">
              <p class="done__location">Миколаївська область</p>
              <p class="done__date">Січень-Червень 2024</p>
            </div>
            <h4 class="done__name">
              Демонтаж трьох шкіл, адмінбудівлі загальною площею 13500 м²
            </h4>
            <div class="done__desc">
              <p>
                Демонтаж розпочався вручну через обмежений доступ до ділянки.
                Металеві конструкції розрізали, будівельне сміття сортували та
                вивозили, звільняючи місце для спеціальної техніки та вцілілого
                устаткування, яке передали власнику.
              </p>
            </div>
            <a href="#" class="btn-def">Детальніше</a>
          </div>

          <div class="done__img-wrapp">
            <img-comparison-slider>
              <img slot="first" width="100%" src="./img/content/done_1.jpg" />
              <img slot="second" width="100%" src="./img/content/done_2.jpg" />
              <svg
                slot="handle"
                viewBox="0 0 32 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.4654 12.0882L23.0845 0.310547V23.8659L31.4654 12.0882Z"
                  fill="white"
                />
                <path
                  d="M0.0370169 12.0882L8.41797 0.310547V23.8659L0.0370169 12.0882Z"
                  fill="white"
                />
              </svg>
            </img-comparison-slider>

            <div class="done__deadline">
              <p>Терміни виконання: 3 тижні</p>
            </div>
          </div>
        </li>
        <li class="done__card">
          <div class="done__info">
            <div class="done__heading">
              <p class="done__location">Миколаївська область</p>
              <p class="done__date">Січень-Червень 2024</p>
            </div>
            <h4 class="done__name">
              Демонтаж трьох шкіл, адмінбудівлі загальною площею 13500 м²
            </h4>
            <div class="done__desc">
              <p>Демонтаж кожного з об’єктів відбувався в три етапи:</p>
              <ul>
                <li>
                  Підготовчий: ручний демонтаж вікон, меблів, макулатури і т.д.
                  та їх сортування.
                </li>
                <li>
                  Демонтаж: знесення екскаватором надземної частини будівлі.
                </li>
                <li>
                  Сортування будівельних відходів на: азбест, метал, дерево,
                  бетон, цегла, пластик.
                </li>
              </ul>
            </div>
            <a href="#" class="btn-def">Детальніше</a>
          </div>

          <div class="done__img-wrapp">
            <img-comparison-slider>
              <img slot="first" width="100%" src="./img/content/done_1.jpg" />
              <img slot="second" width="100%" src="./img/content/done_2.jpg" />
              <svg
                slot="handle"
                viewBox="0 0 32 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.4654 12.0882L23.0845 0.310547V23.8659L31.4654 12.0882Z"
                  fill="white"
                />
                <path
                  d="M0.0370169 12.0882L8.41797 0.310547V23.8659L0.0370169 12.0882Z"
                  fill="white"
                />
              </svg>
            </img-comparison-slider>

            <div class="done__deadline">
              <p>Терміни виконання: 3 тижні</p>
            </div>
          </div>
        </li>
        <li class="done__card">
          <div class="done__info">
            <div class="done__heading">
              <p class="done__location">Миколаївська область</p>
              <p class="done__date">Січень-Червень 2024</p>
            </div>
            <h4 class="done__name">
              Демонтаж трьох шкіл, адмінбудівлі загальною площею 13500 м²
            </h4>
            <div class="done__desc">
              <p>Демонтаж кожного з об’єктів відбувався в три етапи:</p>
              <ol>
                <li>
                  Підготовчий: ручний демонтаж вікон, меблів, макулатури і т.д.
                  та їх сортування.
                </li>
                <li>
                  Демонтаж: знесення екскаватором надземної частини будівлі.
                </li>
                <li>
                  Сортування будівельних відходів на: азбест, метал, дерево,
                  бетон, цегла, пластик.
                </li>
              </ol>
            </div>
            <a href="#" class="btn-def">Детальніше</a>
          </div>

          <div class="done__img-wrapp">
            <img-comparison-slider>
              <img slot="first" width="100%" src="./img/content/done_1.jpg" />
              <img slot="second" width="100%" src="./img/content/done_2.jpg" />
              <svg
                slot="handle"
                viewBox="0 0 32 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.4654 12.0882L23.0845 0.310547V23.8659L31.4654 12.0882Z"
                  fill="white"
                />
                <path
                  d="M0.0370169 12.0882L8.41797 0.310547V23.8659L0.0370169 12.0882Z"
                  fill="white"
                />
              </svg>
            </img-comparison-slider>

            <div class="done__deadline">
              <p>Терміни виконання: 3 тижні</p>
            </div>
          </div>
        </li>
      </ul>

      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page first" data-page="1">1</a>
            <a class="facetwp-page active" data-page="2">2</a>
            <a class="facetwp-page" data-page="3">3</a>
            <a class="facetwp-page" data-page="4">4</a>
            <a class="facetwp-page" data-page="5">5</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="11">11</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
