<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__wrapp">
        <div class="footer__info">
          <a href="./index.html" class="custom-logo-link">
            <img src="./img/icons/logo.svg" alt="Logo" />
          </a>

          <div class="footer__desc">
            <p>Пн-пт з 9:00 – 18:00</p>
            <p>Сб-нд – в дистанційному режимі</p>
          </div>

          <address class="footer__address">
            <a href="mailto:demontazh0@gmail.com">demontazh0@gmail.com</a>
          </address>
        </div>

        <div class="footer__box">
          <div class="footer__list">
            <p>Мапа сайту</p>
            <ul>
              <li><a href="./about.html">Про компанію</a></li>
              <li><a href="./complex.html">Комплекс демонтажних робіт</a></li>
              <li>
                <a href="./earthworks.html">Земельні роботи та рециклінг</a>
              </li>
              <li><a href="./done.html">Виконані роботи</a></li>
            </ul>
          </div>
          <div class="footer__list">
            <p>Інформація</p>
            <ul>
              <li><a href="./doc.html">Документи</a></li>
              <li><a href="./carpark.html">Автопарк</a></li>
              <li><a href="./blog.html">Блог</a></li>
              <li>
                <a href="./contact.html">Контакти</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__soc">
        <p>Соціальні мережі</p>
        <ul class="def-soc">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_1.svg" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_2.svg" alt="TikTok" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_3.svg" alt="YouTube" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_4.svg" alt="Instagram" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p>Demontazhnik © 2024. Всі права захищено</p>
      <a href="./policy.html">Політика конфіденційності</a>
    </div>
  </div>
</footer>
