<section class="news">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><a href="./blog.html">Блог</a></li>
        <li><span>Розширення автопарку для для для демонтажних робіт</span></li>
      </ul>
    </div>
  </div>

  <div class="news__container">
    <div class="news__body">
      <div class="news__main">
        <h1>Розширення автопарку для демонтажних робіт</h1>
        <div class="news__img-main">
          <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
          <div class="news__date"><p>30 березня 2024</p></div>
        </div>
        <h4>
          Компанія "Демонтажнік" активно розвивається та інвестує в сучасне
          обладнання для підвищення якості та швидкості виконання робіт
        </h4>
        <p>
          Нещодавно наш автопарк поповнився кількома одиницями новітньої
          спецтехніки, серед яких екскаватори, гідромолоти та дорожні фрези.
        </p>
        <p>
          Це оновлення дозволяє нам виконувати демонтажні роботи різної
          складності в стислі терміни, зокрема у важкодоступних місцях або на
          об'єктах із підвищеними вимогами до безпеки. Завдяки сучасним
          технологіям, ми можемо гарантувати мінімізацію шуму, пилу та інших
          негативних впливів на оточуюче середовище.
        </p>
        <h4>
          Окрім цього, нова техніка значно підвищує ефективність нашої роботи на
          об'єктах різного масштабу по всій території України.
        </h4>
        <p>
          Це означає, що незалежно від складності чи віддаленості об'єкта,
          "Демонтажнік" завжди готовий надати високоякісні послуги демонтажу з
          дотриманням найвищих стандартів.
        </p>
        <p>
          Нещодавно наш автопарк поповнився кількома одиницями новітньої
          спецтехніки, серед яких екскаватори, гідромолоти та дорожні фрези.
        </p>
        <p>
          Це оновлення дозволяє нам виконувати демонтажні роботи різної
          складності в стислі терміни, зокрема у важкодоступних місцях або на
          об'єктах із підвищеними вимогами до безпеки. Завдяки сучасним
          технологіям, ми можемо гарантувати мінімізацію шуму, пилу та інших
          негативних впливів на оточуюче середовище.
        </p>

        <div class="news__gallery">
          <div>
            <img src="./img/content/equipment_2.jpg" alt="" class="cover" />
          </div>
          <div>
            <img src="./img/content/equipment_3.jpg" alt="" class="cover" />
          </div>
        </div>

        <ul class="news__soc">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/news_1.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/news_2.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/news_3.svg" alt="" /></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <span><img src="./img/icons/news_4.svg" alt="" /></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="news__sidebar">
        <h3 class="news__subtitle">Корисні статті</h3>
        <ul>
          <li class="newcard">
            <div class="newcard__img">
              <a href="#">
                <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
              </a>
            </div>
            <div class="newcard__info">
              <div class="newcard__date"><p>11 березня 2024</p></div>
              <a href="#" class="newcard__name">
                Демонтаж старого мосту в Одесі успішно завершено
              </a>
              <div class="newcard__desc">
                <p>
                  Компанія "Демонтажнік" успішно завершила складний демонтаж
                  аварійного мосту в Одесі. Роботи виконані у стислий термін
                  Роботи виконані у стислий термін Роботи виконані у стислий
                  термін Роботи виконані у стислий термін Роботи виконані у
                  стислий термін Роботи виконані у стислий термін
                </p>
              </div>
              <a href="./news.html" class="btn-def">Читати повністю</a>
            </div>
          </li>
          <li class="newcard">
            <div class="newcard__img">
              <a href="#">
                <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
              </a>
            </div>
            <div class="newcard__info">
              <div class="newcard__date"><p>11 березня 2024</p></div>
              <a href="#" class="newcard__name">
                Демонтаж старого мосту в Одесі успішно завершено
              </a>
              <div class="newcard__desc">
                <p>
                  Компанія "Демонтажнік" успішно завершила складний демонтаж
                  аварійного мосту в Одесі. Роботи виконані у стислий термін
                  Роботи виконані у стислий термін Роботи виконані у стислий
                  термін Роботи виконані у стислий термін Роботи виконані у
                  стислий термін Роботи виконані у стислий термін
                </p>
              </div>
              <a href="./news.html" class="btn-def">Читати повністю</a>
            </div>
          </li>
          <li class="newcard">
            <div class="newcard__img">
              <a href="#">
                <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
              </a>
            </div>
            <div class="newcard__info">
              <div class="newcard__date"><p>11 березня 2024</p></div>
              <a href="#" class="newcard__name">
                Демонтаж старого мосту в Одесі успішно завершено
              </a>
              <div class="newcard__desc">
                <p>
                  Компанія "Демонтажнік" успішно завершила складний демонтаж
                  аварійного мосту в Одесі. Роботи виконані у стислий термін
                  Роботи виконані у стислий термін Роботи виконані у стислий
                  термін Роботи виконані у стислий термін Роботи виконані у
                  стислий термін Роботи виконані у стислий термін
                </p>
              </div>
              <a href="./news.html" class="btn-def">Читати повністю</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
