<section class="advantages">
  <div class="advantages__container">
    <div class="advantages__body pd1">
      <div class="advantages__info">
        <div class="advantages__heading">
          <h2 class="tlh2">Ціни на демонтаж дорожнього покриття</h2>
        </div>
        <div class="advantages__text">
          <p>
            При розрахунку ціни демонтажу будівель враховуються такі фактори:
          </p>
          <ul>
            <li>Матеріал з якого збудовано будівлю;</li>
            <li>
              Спосіб демонтажу: знесення або розбір із збереженням матеріалів;
            </li>
            <li>
              Наявність та тип фундаменту (глибина, тип фундаменту та його
              розміри);
            </li>
            <li>Наявність інженерних систем та комунікацій;</li>
            <li>Відстань до інших будівель;</li>
            <li>
              Об'єм демонтажних робіт, включаючи розміри будівлі (споруди).
            </li>
          </ul>
          <p>
            Вартість робіт з демонтажу будівлі розраховується з урахуванням не
            тільки м3 (ціна за куб), а й особливостей конструкції, розташування
            та складності об'єкта. Точна ціна зносу будівлі або її розбирання
            фіксується у кошторисі, який є остаточним ціновим документом.
          </p>
          <p>
            На основі цих даних наша компанія надає клієнтам прозорі та точні
            розрахунки вартості демонтажних робіт. Ми прагнемо запропонувати
            нашим замовникам найкраще співвідношення ціни та якості,
            забезпечуючи професійний підхід до кожного проєкту.
          </p>
        </div>
        <div class="advantages__img">
          <img src="./img/content/completed_2.jpg" alt="" class="cover" />
        </div>
      </div>

      <div class="advantages__items">
        <h2 class="tlh2">Переваги роботи з нами</h2>
        <ul class="advantages__cards">
          <li class="advantages__card">
            <div class="advantages__box">
              <div class="advantages__icon">
                <img src="./img/icons/advantages_1.svg" alt="" />
              </div>
              <h5 class="advantages__name">Сучасна техніка</h5>
            </div>
            <div class="advantages__desc">
              <p>
                Використовуємо найновіше обладнання для швидкого та безпечного
                демонтажу будь-якого типу дорожніх покриттів.
              </p>
            </div>
            <span class="advantages__mark"></span>
          </li>
          <li class="advantages__card">
            <div class="advantages__box">
              <div class="advantages__icon">
                <img src="./img/icons/advantages_2.svg" alt="" />
              </div>
              <h5 class="advantages__name">Професіоналізм</h5>
            </div>
            <div class="advantages__desc">
              <p>
                Наші фахівці мають багаторічний досвід роботи, що дозволяє
                виконувати завдання з максимальною точністю.
              </p>
            </div>
            <span class="advantages__mark"></span>
          </li>
          <li class="advantages__card">
            <div class="advantages__box">
              <div class="advantages__icon">
                <img src="./img/icons/advantages_3.svg" alt="" />
              </div>
              <h5 class="advantages__name">Оперативність</h5>
            </div>
            <div class="advantages__desc">
              <p>
                Завдяки злагодженій роботі команди та використанню методів, ми
                гарантуємо швидке виконання робіт у визначені терміни.
              </p>
            </div>
            <span class="advantages__mark"></span>
          </li>
          <li class="advantages__card">
            <div class="advantages__box">
              <div class="advantages__icon">
                <img src="./img/icons/advantages_4.svg" alt="" />
              </div>
              <h5 class="advantages__name">Всеукраїнське покриття</h5>
            </div>
            <div class="advantages__desc">
              <p>
                Працюємо по всій території України, незалежно від місця вашого
                проекту — наші спеціалісти готові приїхати до вас.
              </p>
            </div>
            <span class="advantages__mark"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
