<section class="answers">
  <div class="answers__container">
    <h2 class="tlh2">Найпоширеніші питання</h2>

    <div class="answers__wrapp">
      <ul class="answers__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="answers__box">
              <h5 class="answers__name">Скільки часу триватиме демонтаж?</h5>

              <span class="answers__vec"></span>
            </div>

            <div class="answers__panel">
              <div class="ac-panel">
                <p>
                  Планове виготовлення стандартних комплектацій - 3 робочі дні.
                  Найчастіше виконуємо протягом 9 годин.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="answers__box">
              <h5 class="answers__name">
                Чи займаєтеся ви утилізацією матеріалів?
              </h5>

              <span class="answers__vec"></span>
            </div>

            <div class="answers__panel">
              <div class="ac-panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam vitae, doloremque corporis nihil temporibus sunt ea
                  autem aliquam libero in provident placeat repudiandae voluptas
                  labore repellendus dicta recusandae rem omnis?
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <ul class="answers__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="answers__box">
              <h5 class="answers__name">
                Яку техніку ви використовуєте для демонтажу?
              </h5>

              <span class="answers__vec"></span>
            </div>

            <div class="answers__panel">
              <div class="ac-panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam vitae, doloremque corporis nihil temporibus sunt ea
                  autem aliquam libero in provident placeat repudiandae voluptas
                  labore repellendus dicta recusandae rem omnis?
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="answers__box">
              <h5 class="answers__name">
                Чи можливий частковий демонтаж без пошкодження решти дороги?
              </h5>

              <span class="answers__vec"></span>
            </div>

            <div class="answers__panel">
              <div class="ac-panel">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Veniam vitae, doloremque corporis nihil temporibus sunt ea
                  autem aliquam libero in provident placeat repudiandae voluptas
                  labore repellendus dicta recusandae rem omnis?
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
