<section class="certificates pd1">
  <div class="certificates__container">
    <div class="certificates__info">
      <h2 class="tlh2 tlw">Документи та сертифікати</h2>
      <a href="./doc.html" class="btn-def">Всі документи</a>
    </div>

    <ul class="certificates__list">
      <li>
        <a href="#" target="_blank" class="certificates__img">
          <img src="./img/content/doc_1.jpg" alt="" class="contain" />
        </a>
        <div class="certificates__desc">
          <p>Витяг з реєстру платників податку на додану вартість</p>
        </div>
      </li>
      <li>
        <a href="#" target="_blank" class="certificates__img">
          <img src="./img/content/doc_2.jpg" alt="" class="contain" />
        </a>
        <div class="certificates__desc">
          <p>Дозвіл від головного управління держпраці у Київській області</p>
        </div>
      </li>
      <li>
        <a href="#" target="_blank" class="certificates__img">
          <img src="./img/content/doc_3.jpg" alt="" class="contain" />
        </a>
        <div class="certificates__desc">
          <p>Витяг з реєстру платників податку на додану вартість</p>
        </div>
      </li>
      <li>
        <a href="#" target="_blank" class="certificates__img">
          <img src="./img/content/doc_4.jpg" alt="" class="contain" />
        </a>
        <div class="certificates__desc">
          <p>Витяг з реєстру платників податку на додану вартість</p>
        </div>
      </li>
      <li>
        <a href="#" target="_blank" class="certificates__img">
          <img src="./img/content/doc_5.jpg" alt="" class="contain" />
        </a>
        <div class="certificates__desc">
          <p>Сертифікат системи менеджменту якості</p>
        </div>
      </li>
    </ul>

    <a href="#" class="btn-def btn-hidd">Всі документи</a>
  </div>

  <div class="certificates__bg no-select">
    <img src="./img/decor/certificates_bg.jpg" alt="" class="cover" />
  </div>
</section>
