<section class="coating pd1">
  <div class="coating__container">
    <div class="coating__body infservice">
      <div class="coating__heading">
        <h2 class="tlh2">Демонтаж брукованих доріг</h2>
      </div>
      <div class="infservice__content">
        <div class="infservice__text">
          <p>
            Компанія "Демонтажнік" надає послуги з демонтажу брукованих доріг,
            тротуарної плитки та інших подібних покриттів.
          </p>
          <p>
            Ми забезпечуємо точний та акуратний демонтаж, що дозволяє зберегти
            матеріали для повторного використання або утилізувати їх у безпечний
            спосіб. Наші фахівці використовують сучасну техніку та методи, що
            гарантують мінімальні пошкодження прилеглих ділянок та
            інфраструктури.
          </p>
          <p>
            Завдяки нашому досвіду, ми виконуємо роботи швидко та якісно,
            незалежно від масштабу проекту, будь то частковий ремонт або повна
            реконструкція дороги.
          </p>
        </div>
        <button type="button" data-id="orderModal" class="btn-def openModal">
          Залишити заявку
        </button>
      </div>
      <div class="infservice__img">
        <img src="./img/content/renewal_1.jpg" alt="" class="cover" />
      </div>
    </div>
  </div>
</section>
