<section class="methods pd1">
  <div class="methods__container">
    <div class="methods__info">
      <h2 class="tlh2">Методи демонтажу дорожнього покриття</h2>
      <div class="methods__text">
        <p>
          Існує кілька методів виконання демонтажних робіт, що адаптуються
          відповідно до поставлених замовником завдань. Ось кілька підходів:
        </p>
      </div>
    </div>

    <ul class="methods__list">
      <li>
        <h5 class="methods__name">Фрезерування</h5>
        <div class="methods__desc">
          <p>
            Використання спеціальних дорожніх фрез для видалення верхніх шарів
            асфальтобетонного або бетонного покриття. Цей метод дозволяє швидко
            та ефективно підготувати поверхню до ремонту або повного видалення.
          </p>
        </div>
      </li>
      <li>
        <h5 class="methods__name">Гідравлічний молот</h5>
        <div class="methods__desc">
          <p>
            Застосування гідромолотів для руйнування міцного дорожнього
            покриття, зокрема бетону. Це дозволяє подрібнити дорожнє покриття на
            менші фрагменти, які легко вивезти або утилізувати.
          </p>
        </div>
      </li>
      <li>
        <h5 class="methods__name">Різання бетону та асфальту</h5>
        <div class="methods__desc">
          <p>
            Використання спеціальних різаки для точного та контрольованого
            видалення окремих ділянок дорожнього покриття. Підходить для
            локального ремонту або часткового демонтажу.
          </p>
        </div>
      </li>
      <li>
        <h5 class="methods__name">Екскавація</h5>
        <div class="methods__desc">
          <p>
            Застосування екскаваторів для підняття та видалення покриття,
            особливо при демонтажі бруківки або тротуарної плитки. Цей метод
            дозволяє швидко підготувати територію для подальших будівельних
            робіт.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
