<section class="offers">
  <div class="offers__container">
    <div class="offers__body">
      <div class="offers__content">
        <div class="offers__hornL no-select">
          <img src="./img/icons/horn.svg" alt="" />
        </div>
        <div class="offers__hornR no-select">
          <img src="./img/icons/horn.svg" alt="" />
        </div>
        <ul class="offers__list">
          <li>
            <div class="offers__icon">
              <img src="./img/icons/offers_1.svg" alt="" />
            </div>
            <h5 class="offers__name">Швидко та якісно</h5>
          </li>
          <li>
            <div class="offers__icon">
              <img src="./img/icons/offers_2.svg" alt="" />
            </div>
            <h5 class="offers__name">Будь-яка форма оплати</h5>
          </li>
          <li>
            <div class="offers__icon">
              <img src="./img/icons/offers_3.svg" alt="" />
            </div>
            <h5 class="offers__name">Працюємо по всій Україні</h5>
          </li>
          <li>
            <div class="offers__icon">
              <img src="./img/icons/offers_4.svg" alt="" />
            </div>
            <h5 class="offers__name">Власний автопарк</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
