<section class="services">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><a href="./complex.html">Демонтажні роботи</a></li>
        <li><span>Демонтаж дорожнього покриття</span></li>
      </ul>
    </div>
  </div>

  <div class="services__container">
    <div class="services__body infservice sec-first">
      <div class="infservice__content">
        <h1 class="tlh2">Демонтаж дорожнього покриття</h1>
        <div class="infservice__text">
          <p>
            Компанія "Демонтажнік" надає професійні послуги з демонтажу
            дорожнього покриття різної складності, від невеликих вулиць до
            масштабних автомагістралей. Наші фахівці мають великий досвід у
            демонтажі асфальтових, бетонних, брукованих та інших типів дорожніх
            покриттів.
          </p>
          <p>
            Ми працюємо з будь-якими об'єктами – від міських вулиць до
            промислових зон і транспортних розв'язок.
          </p>
        </div>
        <button type="button" data-id="orderModal" class="btn-def">
          Залишити заявку
        </button>
      </div>
      <div class="services__wrapp">
        <div class="infservice__img">
          <img src="./img/content/aboutus_1.jpg" alt="" class="cover" />
        </div>
        <div class="services__vec">
          <img src="./img/decor/services_vec.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
