<section class="types pd1">
  <div class="types__container">
    <div class="types__body">
      <div class="types__content">
        <h2 class="tlh2">Види демонтажу дорожнього покриття</h2>
        <ul class="types__list">
          <li>
            <div class="types__box">
              <h5 class="types__subtitle">
                Демонтаж асфальтобетонного покриття
              </h5>
              <div class="types__text">
                <p>
                  Видалення старого асфальтобетону за допомогою спеціальної
                  техніки, включаючи фрезерування, різання та розбиття покриття
                  на фрагменти для подальшого вивезення.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="types__box">
              <h5 class="types__subtitle">Демонтаж бетонного покриття</h5>
              <div class="types__text">
                <p>
                  Розбирання бетонних доріг або тротуарів за допомогою
                  гідромолотів, спеціальних різаків та екскаваторів для
                  подрібнення матеріалу та його подальшого вивезення.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="types__box">
              <h5 class="types__subtitle">Демонтаж брукованих доріг</h5>
              <div class="types__text">
                <p>
                  Зняття бруківки або тротуарної плитки шляхом акуратного
                  демонтажу або механічного видалення, щоб підготувати площу для
                  подальших робіт або відновлення.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="types__box">
              <h5 class="types__subtitle">
                Демонтаж ґрунтових доріг з підсипкою
              </h5>
              <div class="types__text">
                <p>
                  Видалення старого ґрунтового покриття, у тому числі підсипок,
                  які можуть складатися з гравію, піску чи інших матеріалів, для
                  повної заміни або модернізації дорожньої інфраструктури.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="types__box">
              <h5 class="types__subtitle">
                Локальний демонтаж пошкоджених ділянок
              </h5>
              <div class="types__text">
                <p>
                  Частковий демонтаж окремих пошкоджених сегментів дорожнього
                  покриття, що дозволяє провести ремонт без необхідності повного
                  видалення дороги.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="types__img">
        <img src="./img/content/types_1.jpg" alt="" class="cover" />
      </div>
    </div>
  </div>
</section>
