<section class="earthworks">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><span>Земельні роботи та рециклінг</span></li>
      </ul>
    </div>
  </div>

  <div class="earthworks__container">
    <div class="earthworks__body sec-first">
      <h1 class="tlh2">Земельні роботи та рециклінг</h1>
      <ul class="earthworks__cards">
        <li class="workcard">
          <div class="workcard__img">
            <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
          </div>
          <div class="workcard__info">
            <h5 class="workcard__name">Демонтаж дорожнього покриття</h5>
            <a href="./services.html" class="workcard__btn">
              <span><img src="./img/icons/btn_vec.svg" alt="" /></span>
            </a>
          </div>
        </li>
        <li class="workcard">
          <div class="workcard__img">
            <img src="./img/content/equipment_2.jpg" alt="" class="cover" />
          </div>
          <div class="workcard__info">
            <h5 class="workcard__name">Демонтаж дорожнього покриття</h5>
            <a href="./services.html" class="workcard__btn">
              <span><img src="./img/icons/btn_vec.svg" alt="" /></span>
            </a>
          </div>
        </li>
        <li class="workcard">
          <div class="workcard__img">
            <img src="./img/content/equipment_3.jpg" alt="" class="cover" />
          </div>
          <div class="workcard__info">
            <h5 class="workcard__name">Демонтаж дорожнього покриття</h5>
            <a href="./services.html" class="workcard__btn">
              <span><img src="./img/icons/btn_vec.svg" alt="" /></span>
            </a>
          </div>
        </li>
        <li class="workcard">
          <div class="workcard__img">
            <img src="./img/content/equipment_4.jpg" alt="" class="cover" />
          </div>
          <div class="workcard__info">
            <h5 class="workcard__name">Демонтаж дорожнього покриття</h5>
            <a href="./services.html" class="workcard__btn">
              <span><img src="./img/icons/btn_vec.svg" alt="" /></span>
            </a>
          </div>
        </li>
        <li class="workcard">
          <div class="workcard__img">
            <img src="./img/content/equipment_5.jpg" alt="" class="cover" />
          </div>
          <div class="workcard__info">
            <h5 class="workcard__name">Демонтаж дорожнього покриття</h5>
            <a href="./services.html" class="workcard__btn">
              <span><img src="./img/icons/btn_vec.svg" alt="" /></span>
            </a>
          </div>
        </li>
        <li class="workcard">
          <div class="workcard__img">
            <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
          </div>
          <div class="workcard__info">
            <h5 class="workcard__name">Демонтаж дорожнього покриття</h5>
            <a href="./services.html" class="workcard__btn">
              <span><img src="./img/icons/btn_vec.svg" alt="" /></span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
