.blog {
  &__container {
  }
  &__body {
    padding-top: 4.5rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
  }
  &__card {
    flex-basis: calc((100% - 2 * 1.875rem) / 3);
    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: calc((100% - 1 * 1.875rem) / 2);

      .newcard__name {
        font-size: 1.125rem;
      }
      .newcard__desc {
        font-size: 1rem;
      }
    }
  }

  .tlh2 {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .blog {
    &__body {
      padding-top: 4rem;
    }

    &__cards {
      gap: 1.625rem;
    }
    &__card {
      flex-basis: calc((100% - 1 * 1.625rem) / 2);
      &:nth-child(1) {
        flex-basis: 100%;
        .newcard__info {
          padding: 0 1.875rem 1.875rem 1.875rem;
        }
      }
      &:nth-child(2) {
        flex-basis: calc((100% - 1 * 1.625rem) / 2);
        .newcard__name {
          font-size: 1rem;
        }
        .newcard__desc {
          font-size: 0.875rem;
        }
      }
    }

    .tlh2 {
      margin-bottom: 2.37rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .blog {
    &__body {
      padding-top: 3rem;
    }

    &__cards {
      gap: 1.25rem;
    }
    &__card {
      flex-basis: 100%;
      &:nth-child(1),
      &:nth-child(2) {
        flex-basis: 100%;
        .newcard__info {
          padding: 0 1.625rem 1.875rem 1.625rem;
        }
        .newcard__name {
          font-size: 1rem;
        }
        .newcard__desc {
          font-size: 0.875rem;
        }
      }
    }

    .tlh2 {
      margin-bottom: 2rem;
    }
  }
}
