.blog {
  &__container {
  }
  &__body {
    padding-top: 6rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
  }
  &__card {
    background-color: var(--cm);
    height: 400px;
    flex-basis: calc((100% - 2 * 1.875rem) / 3);
    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: calc((100% - 1 * 1.875rem) / 2);
    }
  }

  .tlh2 {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 960px) {
  .blog {
    &__body {
      padding-top: 5.5rem;
    }

    .tlh2 {
      margin-bottom: 2.37rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .blog {
    &__body {
      padding-top: 5rem;
    }

    .tlh2 {
      margin-bottom: 2rem;
    }
  }
}
