<section class="blog">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><span>Блог</span></li>
      </ul>
    </div>
  </div>

  <div class="blog__container">
    <div class="blog__body sec-first">
      <h1 class="tlh2">Наші новини</h1>

      <ul class="blog__cards">
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі.
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
        <li class="blog__card newcard">
          <div class="newcard__img">
            <a href="#">
              <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
            </a>
          </div>
          <div class="newcard__info">
            <div class="newcard__date"><p>11 березня 2024</p></div>
            <a href="#" class="newcard__name">
              Демонтаж старого мосту в Одесі успішно завершено
            </a>
            <div class="newcard__desc">
              <p>
                Компанія "Демонтажнік" успішно завершила складний демонтаж
                аварійного мосту в Одесі. Роботи виконані у стислий термін
                Роботи виконані у стислий термін Роботи виконані у стислий
                термін Роботи виконані у стислий термін Роботи виконані у
                стислий термін Роботи виконані у стислий термін
              </p>
            </div>
            <a href="./news.html" class="btn-def">Читати повністю</a>
          </div>
        </li>
      </ul>

      <div class="pagination__cont">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page first" data-page="1">1</a>
            <a class="facetwp-page active" data-page="2">2</a>
            <a class="facetwp-page" data-page="3">3</a>
            <a class="facetwp-page" data-page="4">4</a>
            <a class="facetwp-page" data-page="5">5</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="11">11</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
