<section class="carpark">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><span>Автопарк</span></li>
      </ul>
    </div>
  </div>

  <div class="carpark__container">
    <div class="carpark__body sec-first">
      <h1 class="tlh2">Власний автопарк</h1>
      <div class="carpark__wrapp">
        <div class="carpark__main">
          <h4>Екскаватори гусеничні</h4>
          <ul>
            <li>JCB 220 - 1 од</li>
            <li>CAT 320 - 2 од</li>
            <li>CaseIH CX460 стріла 28 м - 1 од</li>
            <li>LiuGong 220 - 1 од</li>
            <li>LiuGong 922F - 1 од</li>
            <li>CAT 218 - 1 од</li>
            <li>Develon (Doosan) DX260LCA - 1 од</li>
            <li>Volvo EC360Blc - 1 од</li>
            <li>Volvo EC300Dl - 1 од</li>
          </ul>
          <h4>Дробильно-сортувальні комплекси</h4>
          <ul>
            <li>Мобільна шекова дробарка</li>
            <li>MCCLOSKEY J40v2 - 1 од</li>
            <li>Мобільна сортувальна установка (Грохот)</li>
            <li>Powerscreen Warrior 1400X - 1 од</li>
          </ul>
          <h4>Самоскиди</h4>
          <ul>
            <li>Scania R500 - 3 од</li>
            <li>Scania P380 - 2 од</li>
            <li>Ford Cargo 3535D - 3 од</li>
            <li>DAF 35 CF - 3 од</li>
            <li>Volvo FH - 2 од</li>
          </ul>
          <h4>Екскаватори колісні</h4>
          <ul>
            <li>CAT M322 - 1 од</li>
            <li>CAT 218 - 1 од</li>
            <li>CAT 318 - 1 од</li>
          </ul>
          <h4>Екскаватори навантажувачі</h4>
          <ul>
            <li>JCB 3CX - 1 од</li>
            <li>JCB 4CX - 1 од</li>
            <li>CAT 432F - 2 од</li>
          </ul>
          <h4>Автокрани</h4>
          <ul>
            <li>XCMG XCT75 S - 1 од</li>
            <li>XCT25 - 2 од</li>
            <li>XCT35- 1 од</li>
          </ul>
          <h4>Міні-навантажувачі</h4>
          <ul>
            <li>CAT 216B3 - 2 од</li>
          </ul>
          <h4>Бульдозери</h4>
          <ul>
            <li>CATERPILLAR D7G2 1 LT - 1 од</li>
          </ul>
          <h4>Автовишка</h4>
          <ul>
            <li>Bison Palfinger TKA 28 KS - 1 од</li>
          </ul>
          <h4>Фронтальні навантажувачі</h4>
          <ul>
            <li>CAT 928G - 1 од</li>
          </ul>
        </div>
        <ul class="carpark__gallery">
          <li>
            <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_2.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_3.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_4.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_5.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_2.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_3.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_4.jpg" alt="" class="cover" />
          </li>
          <li>
            <img src="./img/content/equipment_5.jpg" alt="" class="cover" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
