.present {
  overflow: hidden;

  &__container {
    position: relative;
  }
  &__body {
    position: relative;
    z-index: 2;
  }

  &__top {
    position: relative;
  }
  &__content {
    position: relative;
    z-index: 3;
    width: 42.25rem;
  }
  &__text {
    line-height: 1.7;
    margin-bottom: 3rem;
    p {
      margin-bottom: 0.75rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    position: absolute;
    z-index: 2;
    top: 2.31rem;
    right: -3.3125rem;
    width: 40.25rem;
  }
  &__vec {
    position: absolute;
    z-index: 1;
    top: -1.75rem;
    right: 1.875rem;
    width: 18.8125rem;
  }

  &__bottom {
    padding-top: 6rem;
  }
  &__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.25rem, 1fr));
    gap: 2rem;
    li {
      p {
        color: var(--ct);
        font-size: 1.125rem;
        line-height: 1.7;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .tlh2 {
    margin-bottom: 1.75rem;
  }
  .tlh3 {
    display: flex;
    gap: 0.69rem;
    margin-bottom: 0.13rem;
    &::before {
      content: ">";
      margin-top: 0.5rem;
      color: var(--cy);
      font-size: 1.125rem;
      font-weight: 800;
      line-height: 1.6;
    }
  }
  .btn-def {
    .btn-part2 {
      display: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .present {
    &__content {
      width: 100%;
    }
    &__text {
      max-width: 21.4375rem;
    }
    &__img {
      top: 9.875rem;
      right: -5.6875rem;
      width: 30.625rem;
    }
    &__vec {
      top: 5.6875rem;
      right: 0.4375rem;
      width: 15.25rem;
    }

    &__bottom {
      padding-top: 5.5rem;
    }

    &__bg {
      display: none;
    }

    .tlh2 {
      margin-bottom: 1.31rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .present {
    .pd1 {
      padding: 20rem 0 4.5rem 0;
    }

    &__text {
      max-width: 100%;
      margin-bottom: 2.8rem;
    }
    &__img {
      top: -17rem;
      left: 50%;
      right: auto;
      width: 26.375rem;
      transform: translateX(-50%);
    }
    &__vec {
      display: none;
    }

    &__bottom {
      padding-top: 4.5rem;
    }
    &__progress {
      grid-template-columns: repeat(auto-fit, minmax(10.0625rem, 1fr));
      gap: 1.6rem 2rem;
      li {
        p {
          font-size: 0.875rem;
        }
      }
    }

    .tlh3 {
      margin-bottom: 0.06rem;
      gap: 0.63rem;
      &::before {
        margin-top: 0.06rem;
        font-size: 1rem;
      }
    }

    .btn-def {
      .btn-part1 {
        display: none;
      }
      .btn-part2 {
        display: flex;
      }
    }
  }
}
