.video {
  &__container {
  }
  &__slider {
  }
  &__text {
    margin-top: 0.75rem;
    a {
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    overflow: hidden;
    a {
      display: block;
      position: relative;
      padding-top: 56%;
    }
    img {
      transition: all 0.15s ease-in;
    }
  }

  .tlh2 {
    margin-bottom: 2.19rem;
  }

  .splide {
    &__slide {
      padding: 1.875rem;
      background-color: var(--cq);
      &:hover {
        .video__img {
          img {
            opacity: 0.8;
          }
        }
        .btn-play {
          background-color: var(--cm);
          span {
            background-color: var(--cy);
          }
        }
      }
    }

    &__arrow {
      opacity: 1;
      background-color: transparent;
    }
    &__arrow--prev {
      left: -2.5rem;
      transform: translateX(-100%);
    }
    &__arrow--next {
      right: -2.5rem;
      transform: translateX(100%);
    }
  }
}

@media screen and (max-width: 1440px) {
  .video {
    .splide {
      &__arrow {
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--cy);
      }
      &__arrow--prev {
        left: 0;
        transform: translateX(-50%);
      }
      &__arrow--next {
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .video {
    &.pd1 {
      padding-bottom: 9.25rem;
    }

    &__text {
      margin-top: 0.875rem;
      p {
        font-size: 1rem;
      }
    }

    .tlh2 {
      margin-bottom: 2.38rem;
    }

    .splide {
      &__slide {
        padding: 1.75rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .video {
    &.pd1 {
      padding-bottom: 8.75rem;
    }

    &__text {
      margin-top: 0.75rem;
      p {
        font-size: 0.875rem;
      }
    }

    .tlh2 {
      margin-bottom: 2rem;
    }

    .splide {
      &__slide {
        padding: 1.5rem;
      }
    }
  }
}
