<section class="about">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><span>Про компанію</span></li>
      </ul>
    </div>
  </div>

  <div class="about__container">
    <div class="about__body sec-first">
      <div class="about__content">
        <h1 class="tlh2">Будівельна корпорація «Демонтажник»</h1>
        <div class="about__text">
          <p>
            ТОВ "БК "ДЕМОНТАЖНИК" це потужна група будівельних компаній, до якої
            входить більше 15-ти організацій. Виконуємо всі види демонтажних
            робіт будь якої складності по всій території України, від демонтажу
            будівель і споруд, до промислового демонтажу.
          </p>
          <p>
            Маємо власні потужності, такі як великий парк техніки та професійні
            спеціалісти. Це дає нам можливість працювати без посередників і
            надавати повний спектр необхідних робіт при проведенні демонтажу по
            дуже вигідним цінам.
          </p>
        </div>
      </div>

      <div class="about__img-wrapp">
        <div class="about__img">
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/content/about_1.jpg" alt="" class="cover" />
            <span class="btn-play"><span></span></span>
          </a>
        </div>

        <div class="about__vec no-select">
          <img src="./img/decor/about_vec.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
