<section class="iso pd1">
  <div class="iso__container">
    <h2 class="tlh2">
      Організація роботи за стандартами ISO – наш ключ до якості
    </h2>
    <ul class="iso__list">
      <li>
        <p>
          <span>Мінімізація витрат</span> часу та ресурсів на проведення
          демонтажних робіт (відповідно і кінцевої вартості робіт)
        </p>
      </li>
      <li>
        <p><span>Дотримання термінів</span> виконання демонтажних робіт</p>
      </li>
      <li>
        <p>
          Дотримання максимальних <span>умов безпеки</span> на всіх етапах робіт
        </p>
      </li>
      <li>
        <p>
          Дотримання високих і <span>стабільних темпів</span> демонтажних робіт
          на великих об’єктах
        </p>
      </li>
      <li>
        <p>
          Можливість демонтажу <span>складних і небезпечних об’єктів</span> будь
          якої складності;
        </p>
      </li>
      <li>
        <p>
          Надання послуг <span>по всі території України</span> і з оптимальною
          логістикою, що робить наші ціни вигідними
        </p>
      </li>
    </ul>
  </div>
</section>
