<section class="iso pd1">
  <div class="iso__container">
    <h2 class="tlh2">
      Організація роботи за стандартами ISO – наш ключ до якості
    </h2>
    <ul class="iso__list">
      <li>
        <p>
          <b>Мінімізація витрат</b> часу та ресурсів на проведення демонтажних
          робіт (відповідно і кінцевої вартості робіт)
        </p>
      </li>
      <li>
        <p><b>Дотримання термінів</b> виконання демонтажних робіт</p>
      </li>
      <li>
        <p>Дотримання максимальних <b>умов безпеки</b> на всіх етапах робіт</p>
      </li>
      <li>
        <p>
          Дотримання високих і <b>стабільних темпів</b> демонтажних робіт на
          великих об’єктах
        </p>
      </li>
      <li>
        <p>
          Можливість демонтажу <b>складних і небезпечних об’єктів</b> будь якої
          складності;
        </p>
      </li>
      <li>
        <p>
          Надання послуг <b>по всі території України</b> і з оптимальною
          логістикою, що робить наші ціни вигідними
        </p>
      </li>
    </ul>
  </div>
</section>
