<section class="military pd1">
  <div class="military__container">
    <h2 class="tlh2">Ми цінуємо кожну подяку від наших військових</h2>

    <div class="military__splide splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="./img/content/military_1.jpg" alt="" class="contain" />
          </li>
          <li class="splide__slide">
            <img src="./img/content/military_2.jpg" alt="" class="contain" />
          </li>
          <li class="splide__slide">
            <img src="./img/content/military_3.jpg" alt="" class="contain" />
          </li>
          <li class="splide__slide">
            <img src="./img/content/military_4.jpg" alt="" class="contain" />
          </li>
          <li class="splide__slide">
            <img src="./img/content/military_5.jpg" alt="" class="contain" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
