<section class="turnkey">
  <div class="turnkey__container">
    <div class="turnkey__body">
      <div class="turnkey__content pd1">
        <h2 class="tlh2 tlw spy">
          Демонтажні роботи <span>«Під Ключ»</span>, які можуть містити такі
          послуги як:
        </h2>
        <ul class="turnkey__list">
          <li>
            <p>
              <span>Організація логістики</span> (подача техніки та організація
              роботи) по всій території України
            </p>
          </li>
          <li>
            <p>
              <span>Оформлення всієї необхідної документації</span> та дозволів
              для демонтажу об'єкту;
            </p>
          </li>
          <li>
            <p>
              Організація відключення та
              <span>перенесення комунікаційних мереж</span> на об'єкті, що
              демонтується;
            </p>
          </li>
          <li>
            <p><span>Демонтажні роботи</span> будь якої складності</p>
          </li>
          <li>
            <p>
              Вивіз будівельного сміття та грунту <span>на утилізацію</span>
            </p>
          </li>
          <li>
            <p>Вивіз будівельного сміття <span>для переробки</span></p>
          </li>
          <li>
            <p>
              <span>Планування території</span> після проведення демонтажних
              робіт
            </p>
          </li>
          <li>
            <p><span>Підготовка території</span> для подальшого будівництва</p>
          </li>
        </ul>
      </div>

      <div class="turnkey__img no-select">
        <div><img src="./img/content/turnkey_1.png" alt="" /></div>
      </div>
    </div>
  </div>

  <div class="turnkey__bg no-select">
    <img src="./img/decor/turnkey_bg.jpg" alt="" class="cover" />
  </div>
</section>
