<section class="turnkey">
  <div class="turnkey__container">
    <div class="turnkey__body">
      <div class="turnkey__content pd1">
        <h2 class="tlh2 tlw spy">
          Демонтажні роботи <span>«Під Ключ»</span>, які можуть містити такі
          послуги як:
        </h2>
        <ul class="turnkey__list">
          <li>
            <p>
              <span style="color: #fed104"><b>Організація логістики</b></span>
              (подача техніки та організація роботи) по всій території України
            </p>
          </li>
          <li>
            <p>
              <span style="color: #fed104">
                <b>Оформлення всієї необхідної документації</b>
              </span>
              та дозволів для демонтажу об'єкту;
            </p>
          </li>
          <li>
            <p>
              Організація відключення та
              <span style="color: #fed104">
                <b>перенесення комунікаційних мереж</b>
              </span>
              на об'єкті, що демонтується;
            </p>
          </li>
          <li>
            <p>
              <span style="color: #fed104">
                <b>Демонтажні роботи</b>
              </span>
              будь якої складності
            </p>
          </li>
          <li>
            <p>
              Вивіз будівельного сміття та грунту
              <span style="color: #fed104"><b>на утилізацію</b></span>
            </p>
          </li>
          <li>
            <p>
              Вивіз будівельного сміття
              <span style="color: #fed104"><b>для переробки</b></span>
            </p>
          </li>
          <li>
            <p>
              <span style="color: #fed104"><b>Планування території</b></span>
              після проведення демонтажних робіт
            </p>
          </li>
          <li>
            <p>
              <span style="color: #fed104"><b>Підготовка території</b></span>
              для подальшого будівництва
            </p>
          </li>
        </ul>
      </div>

      <div class="turnkey__img no-select">
        <div><img src="./img/content/turnkey_1.png" alt="" /></div>
      </div>
    </div>
  </div>

  <div class="turnkey__bg no-select">
    <img src="./img/decor/turnkey_bg.jpg" alt="" class="cover" />
  </div>
</section>
