<section class="project">
  <div class="breadcrumbs__container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./index.html">Головна</a></li>
        <li><a href="./done.html">Виконані роботи</a></li>
        <li>
          <span>
            Демонтаж трьох шкіл, адмінбудівлі й будинку культури загальною
            площею 13500 м²
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="project__container">
    <div class="project__body sec-first">
      <div class="project__splide splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide comparison-def">
              <img-comparison-slider>
                <img slot="first" width="100%" src="./img/content/done_1.jpg" />
                <img
                  slot="second"
                  width="100%"
                  src="./img/content/done_2.jpg"
                />
                <svg
                  slot="handle"
                  viewBox="0 0 32 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31.4654 12.0882L23.0845 0.310547V23.8659L31.4654 12.0882Z"
                    fill="white"
                  />
                  <path
                    d="M0.0370169 12.0882L8.41797 0.310547V23.8659L0.0370169 12.0882Z"
                    fill="white"
                  />
                </svg>
              </img-comparison-slider>
            </li>

            <li class="splide__slide">
              <div class="project__video">
                <video poster="./img/content/video_2.jpg" preload="metadata">
                  <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
                  <source src="./img/media/mov-webm.webm" type="video/webm" />
                </video>
                <span class="btn-play"><span></span></span>
              </div>
            </li>

            <li class="splide__slide">
              <div class="project__video">
                <video poster="./img/content/video_2.jpg" preload="metadata">
                  <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
                  <source src="./img/media/mov-webm.webm" type="video/webm" />
                </video>
                <span class="btn-play"><span></span></span>
              </div>
            </li>

            <li class="splide__slide">
              <div class="project__img">
                <img src="./img/content/renewal_1.jpg" alt="" class="cover" />
              </div>
            </li>

            <li class="splide__slide">
              <div class="project__img">
                <img src="./img/content/renewal_2.jpg" alt="" class="cover" />
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="project__info">
        <div class="project__heading">
          <p class="project__location">Миколаївська область</p>
          <p class="project__date">Січень-Червень 2024</p>
          <div class="project__deadline">
            <p>Терміни виконання: 3 тижні</p>
          </div>
        </div>
        <h1 class="tlh2">
          Демонтаж трьох шкіл, адмінбудівлі й будинку культури загальною площею
          13500 м²
        </h1>
      </div>
      <div class="project__main">
        <h5>1. Підготовчий етап</h5>
        <p>
          Першочергове завдання – забезпечити безпечне видалення всіх внутрішніх
          елементів будівель:
        </p>
        <ul>
          <li>
            Ручний демонтаж вікон, меблів, макулатури та інших предметів:
            Команда фахівців ретельно демонтувала всі внутрішні елементи
            будівель, включаючи вікна, двері, меблі та інші предмети інтер’єру.
            Особливу увагу було приділено збереженню матеріалів для подальшого
            сортування та переробки.
          </li>
          <li>
            Сортування матеріалів: Усі вилучені елементи були відсортовані за
            типами – дерево, метал, пластик, папір тощо. Цей процес забезпечував
            ефективне управління відходами та зменшення екологічного впливу.
          </li>
        </ul>
        <h5>2. Демонтажний етап</h5>
        <p>Основна задача цього етапу – знесення надземних частин будівель:</p>
        <ul>
          <li>
            Знесення екскаватором: Використовуючи сучасні екскаватори, команда
            провела поетапний демонтаж надземних частин будівель. Це включало
            розбір стін, стель та інших конструктивних елементів будівель.
            Важливою задачею було забезпечення безпеки працівників та
            мінімізація шумового забруднення для прилеглих районів.
          </li>
        </ul>
        <h5>3. Сортування будівельних відходів</h5>
        <p>
          Після знесення будівель, відходи були ретельно відсортовані для
          подальшої утилізації та переробки:
        </p>
        <ul>
          <li>
            Сортування будівельних відходів: Усі відходи були поділені на
            категорії: азбест, метал, дерево, бетон, цегла, пластик. Кожен вид
            матеріалу оброблявся відповідно до стандартів екологічної безпеки.
            Азбестові матеріали були видалені з особливою обережністю та
            направлені на безпечне зберігання та утилізацію. Металеві та
            дерев'яні відходи були підготовлені для повторного використання або
            переробки.
          </li>
        </ul>
        <p>
          Цей комплексний підхід до демонтажу трьох шкіл, адмінбудівлі та
          будинку культури загальною площею 13 500 м² демонструє високий рівень
          професіоналізму та відповідальності компанії у сфері демонтажних
          робіт.
        </p>
      </div>
    </div>
  </div>
</section>
