<div class="mob">
  <div class="mob__body">
    <div class="mob__container">
      <div class="mob__content">
        <load src="partials/header/parts/nav.html" />
        <div class="mob__box">
          <p>
            <span class="lang-part1">Мова сайту</span>
            <span class="lang-part2">Мова:</span>
          </p>
          <ul class="mob__lang">
            <li
              id="menu-item-406"
              class="is-active pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
            >
              <a href="#">Українська</a>
            </li>
            <li
              id="menu-item-406-en"
              class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
            >
              <a href="#" hreflang="en-GB" lang="en-GB">Англійська</a>
            </li>
            <li
              id="menu-item-406-en"
              class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
            >
              <a href="#" hreflang="en-GB" lang="en-GB">Російська</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
