<nav class="nav">
  <ul class="nav__list">
    <li><a href="./about.html">Про компанію</a></li>
    <li><a href="./complex.html">Демонтажні роботи</a></li>
    <li><a href="./earthworks.html">Земельні роботи та рециклінг</a></li>
    <li><a href="./done.html">Виконані роботи</a></li>
    <li><a href="./doc.html">Документи</a></li>
    <li><a href="./carpark.html">Автопарк</a></li>
    <li><a href="./contact.html">Контакти</a></li>
    <li class="blog-link"><a href="./blog.html">Блог</a></li>
    <li class="policy-link">
      <a href="./policy.html">Політика конфіденційності</a>
    </li>
  </ul>
</nav>
