.header {
  position: relative;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    max-width: 90rem;
  }
  &__top {
    position: relative;
    z-index: 110;
    min-height: 5.9375rem;
    padding: 1.25rem 0 1.5rem 0;
    background-color: var(--cw);
    transition: all 0.15s ease-in;
  }
  &__body {
    display: flex;
    align-items: center;
    gap: 2.1rem;
  }

  &__connect {
    display: flex;
    align-items: center;
    gap: 1.06rem;
    a {
      display: block;
      width: 1.1875rem;
      height: 1.1875rem;
    }
  }

  &__address {
    a {
      display: block;
      transition: all 0.15s ease-in;

      .tel-ico {
        display: none;
      }
      .tel-text {
        font-weight: 600;
        line-height: normal;
      }

      &:hover {
        color: var(--cy);
      }
    }
  }

  &__lang {
    position: relative;
    transition: all 0.15s ease-in;

    & > li > a {
      border: 0.0625rem solid var(--cw);
      &::after {
        content: "";
        flex-shrink: 0;
        width: 0.75rem;
        height: 0.75rem;
        background-size: 0.75rem 0.75rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--langVector);
        transition: all 0.15s ease-in;
      }
    }

    li > a {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 0.75rem;
      line-height: normal;
      transition: all 0.15s ease-in;
      img {
        width: 1.0625rem;
        flex-shrink: 0;
      }
    }

    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
      }
      & > li > a {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }

    .sub-menu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      right: 0;
      transform: translateY(0.5rem);
      background-color: var(--cw);
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: all 0.15s ease-in;
      li {
        a {
          padding: 0.5rem 0;
          &:hover {
            opacity: 0.5;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 100%;
        height: 0.5rem;
      }
    }
  }

  &__bottom {
    border-top: 0.0625rem solid var(--ce);
    padding: 0.88rem 0;
  }

  .custom-logo-link {
    display: block;
    width: 15.9375rem;
  }

  .btn-def {
    padding: 1rem 1.5rem;
    .btn-part2 {
      display: none;
    }
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 960px) {
  .header {
    &.is-opened {
      box-shadow: none;
      .header__top {
        box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.1);
      }
    }

    &__body {
      gap: 1.25rem;
    }

    &__lang {
      display: none;
    }

    &__bottom {
      display: none;
    }

    .custom-logo-link {
      width: 11.0625rem;
    }

    .btn-def {
      .btn-part1 {
        display: none;
      }
      .btn-part2 {
        display: block;
      }
    }
  }

  .burger {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.95rem 0.81rem;
    background-color: var(--cy);

    &__body {
      position: relative;
      width: 1.6875rem;
      height: 1.3125rem;
      overflow: hidden;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 0.1875rem;
        background-color: var(--cm);
        transform: translateX(-50%) translateY(-50%) rotate(0);
        transition: all 150ms ease-in;
        &:first-child {
          top: 0;
          transform: translateX(-50%) translateY(0%);
        }
        &:last-child {
          top: 100%;
          transform: translateX(-50%) translateY(-100%);
        }
      }
    }

    &.is-opened {
      .burger__body {
        span {
          top: 50%;
          background-color: var(--cm);
          &:nth-child(2) {
            opacity: 0;
            transform: translateX(-100%);
          }
          &:nth-child(1) {
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
          }
          &:nth-child(3) {
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    &__container {
      gap: 1rem;
    }

    &__body {
      gap: 0.63rem;
    }

    &__connect {
      display: none;
    }

    &__address {
      a {
        padding: 0.95rem 1rem;
        background-color: var(--cm);
        .tel-ico {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.3125rem;
          height: 1.3125rem;
          img {
            object-fit: cover;
          }
        }
        .tel-text {
          display: none;
        }
      }
    }

    .custom-logo-link {
      width: 10.8125rem;
    }

    .btn-def {
      display: none;
    }
  }
}
