<section class="anywhere">
  <div class="anywhere__container">
    <div class="anywhere__body">
      <div class="anywhere__content">
        <h2 class="tlh2">Працюємо по всій Україні</h2>
        <div class="anywhere__text">
          <p>
            Наш головний офіс знаходиться в Ірпені за адресою:
            <a
              href="https://maps.app.goo.gl/oetnZ5q4YExj8LPC9"
              target="_blank"
              rel="noopener noreferrer"
            >
              вул. Північна, 41.
            </a>
            Проте ми завжди готові приїхати у будь-яке місто, село або селище,
            незалежно від вашого місцезнаходження.
          </p>
          <p>
            Наші фахівці та спеціалізована техніка здатні оперативно прибути на
            об'єкт та виконати всі необхідні демонтажні роботи з дотриманням
            найвищих стандартів якості. Незалежно від складності проекту, ми
            забезпечимо надійний і професійний підхід
          </p>
        </div>
      </div>
      <div class="anywhere__img no-select">
        <img src="./img/content/anywhere_1.png" alt="" />
      </div>
      <div class="anywhere__vec no-select">
        <img src="./img/decor/anywhere_vec.png" alt="" />
      </div>
    </div>
  </div>
</section>
