<section class="completed">
  <div class="completed__container">
    <div class="completed__content">
      <h2 class="tlh2">Виконані проєкти</h2>
      <div class="completed__text">
        <p>
          Ознайомтесь як виглядали об'єкти до демонтажу, що залишилось після, і
          яку роботу було проведено для досягнення результату
        </p>
      </div>
      <a href="#" class="btn-def">Всі виконані проєкти</a>
    </div>

    <div class="completed__wrapp">
      <div class="completed__img">
        <img src="./img/content/completed_1.jpg" alt="" class="cover" />
      </div>
      <div class="completed__img">
        <img src="./img/content/completed_2.jpg" alt="" class="cover" />
      </div>
    </div>
  </div>
</section>
