<section class="equipment pad1">
  <div class="equipment__body">
    <div class="equipment__container">
      <div class="equipment__info">
        <h2 class="tlh2 tlw spy">
          Автопарк з 40 одиниць сучасної спецтехніки
          <span>який постійно оновлюється</span>
        </h2>
        <a href="#" class="btn-def">Ознайомитись з парком</a>
      </div>
      <ul class="equipment__cards">
        <li>
          <img src="./img/content/equipment_1.jpg" alt="" class="cover" />
        </li>
        <li>
          <img src="./img/content/equipment_2.jpg" alt="" class="cover" />
        </li>
        <li>
          <img src="./img/content/equipment_3.jpg" alt="" class="cover" />
        </li>
        <li>
          <img src="./img/content/equipment_4.jpg" alt="" class="cover" />
        </li>
        <li>
          <img src="./img/content/equipment_5.jpg" alt="" class="cover" />
        </li>
      </ul>
    </div>
    <div class="equipment__img no-select">
      <img src="./img/decor/equipment_bg.png" alt="" class="cover" />
    </div>
  </div>
</section>
