<section class="hero">
  <div class="hero__container">
    <h1 class="tlh1">Професіоналізм. Якість. Швидкість</h1>
    <h2 class="tlh2">Професіоналізм. Якість. Швидкість</h2>
    <h3 class="tlh3">Професіоналізм. Якість. Швидкість</h3>
    <h4 class="tlh4">Професіоналізм. Якість. Швидкість</h4>
    <h5 class="tlh5">Професіоналізм. Якість. Швидкість</h5>
    <h6 class="tlh6">Професіоналізм. Якість. Швидкість</h6>

    <button type="button" class="btn-def">Замовити консультацію</button>
    <a href="#" class="btn-def">Замовити консультацію</a>
  </div>
</section>
