<section class="present">
  <div class="present__container">
    <div class="present__body pd1">
      <div class="present__top">
        <div class="present__content">
          <h2 class="tlh2">Професіоналізм. Якість. Швидкість</h2>
          <div class="present__text">
            <p>
              ТОВ "БК Демонтажник" виконує повний спектр демонтажних та,
              включаючи роботи на складних і небезпечних об'єктах. Власний парк
              спецтехніки та досвід дозволяють нам брати в роботу будь-які
              проєкти, забезпечуючи високу якість та безпеку.
            </p>
            <p>
              Ми є надійним партнером для підприємств різних галузей, включаючи
              металургію та нафтохімію.
            </p>
            <p>
              Завдяки професіоналізму та унікальному досвіду, ми впевнено
              рухаємося до лідерства у сфері промислового демонтажу на ринку
              України.
            </p>
          </div>
          <a href="#" target="_blank" class="btn-def">
            <span class="btn-part1">Презентація компанії Демонтажник</span>
            <span class="btn-part2">Презентація компанії</span>
          </a>
        </div>

        <div class="present__img no-select">
          <img src="./img/content/present_1.png" alt="" />
        </div>
        <div class="present__vec no-select">
          <img src="./img/decor/present_vec.png" alt="" />
        </div>
      </div>

      <load src="partials/general/achievement.html" />
    </div>

    <div class="present__bg no-select">
      <img src="./img/decor/present_bg.png" alt="" />
    </div>
  </div>
</section>
