<section class="prices">
  <div class="prices__container">
    <h2 class="tlh2">Ціни на демонтажні роботи</h2>

    <div class="prices__content">
      <div class="prices__header">
        <div><p>Назва послуги</p></div>
        <div><p>Ціна</p></div>
      </div>
      <ul class="prices__main">
        <li>
          <div>
            <a>Демонтаж цегляних стін, перегородок</a>
          </div>
          <div>
            <p>від 450 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <a>Демонтаж бетонних стін, перегородок</a>
          </div>
          <div>
            <p>від 315 грн/м²</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж залізобетонних перекриттів</p>
          </div>
          <div>
            <p>від 380 грн/м²</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж колон, паль</p>
          </div>
          <div>
            <p>від 1575 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж фундаментів гідромолотом</p>
          </div>
          <div>
            <p>від 1700 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж стяжок, бетонних підлог гідромолотом</p>
          </div>
          <div>
            <p>від 235 грн/м²</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж залізобетонних конструкцій гідроножицями</p>
          </div>
          <div>
            <p>від 1700 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж металоконструкцій</p>
          </div>
          <div>
            <p>від 2480 грн/т</p>
          </div>
        </li>
        <li>
          <div>
            <p>
              Демонтаж будівель та споруд висотою понад 20 м за допомогою
              гідроножиць
            </p>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <p>
              Демонтаж аварійних та пошкоджених війною будинків, споруд,
              підприємств
            </p>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж складських приміщень</p>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж заводів</p>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж промислових підприємств</p>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж димових труб механізмами</p>
          </div>
          <div>
            <p>від 110 000 грн / од</p>
          </div>
        </li>
        <li>
          <div>
            <p>Демонтаж димових труб підривом</p>
          </div>
          <div>
            <p>від 225 000 грн / од</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
