<section class="prices">
  <div class="prices__container">
    <h2 class="tlh2">Ціни на демонтажні роботи</h2>

    <div class="prices__content">
      <div class="prices__header">
        <div><p>Назва послуги</p></div>
        <div><p>Ціна</p></div>
      </div>
      <ul class="prices__main">
        <li>
          <div>
            <a href="./services.html">Демонтаж цегляних стін, перегородок</a>
          </div>
          <div>
            <p>від 450 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж бетонних стін, перегородок</a>
          </div>
          <div>
            <p>від 315 грн/м²</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж залізобетонних перекриттів</a>
          </div>
          <div>
            <p>від 380 грн/м²</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж колон, паль</a>
          </div>
          <div>
            <p>від 1575 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж фундаментів гідромолотом</a>
          </div>
          <div>
            <p>від 1700 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html"
              >Демонтаж стяжок, бетонних підлог гідромолотом</a
            >
          </div>
          <div>
            <p>від 235 грн/м²</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html"
              >Демонтаж залізобетонних конструкцій гідроножицями</a
            >
          </div>
          <div>
            <p>від 1700 грн/м³</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж металоконструкцій</a>
          </div>
          <div>
            <p>від 2480 грн/т</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">
              Демонтаж будівель та споруд висотою понад 20 м за допомогою
              гідроножиць
            </a>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">
              Демонтаж аварійних та пошкоджених війною будинків, споруд,
              підприємств
            </a>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж складських приміщень</a>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж заводів</a>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж промислових підприємств</a>
          </div>
          <div>
            <p>договірна</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж димових труб механізмами</a>
          </div>
          <div>
            <p>від 110 000 грн / од</p>
          </div>
        </li>
        <li>
          <div>
            <a href="./services.html">Демонтаж димових труб підривом</a>
          </div>
          <div>
            <p>від 225 000 грн / од</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
