<section class="renewal pd1">
  <div class="renewal__container">
    <div class="renewal__body">
      <h2 class="tlh2">Останні новини та оновлення</h2>
      <ul class="renewal__cards">
        <li>
          <div class="renewal__img">
            <a href="#">
              <img src="./img/content/renewal_1.png" alt="" class="cover" />
            </a>
          </div>
          <div class="renewal__box">
            <a href="#" class="renewal__title">
              Успішне завершення демонтажу металургійного заводу
            </a>
            <p class="renewal__date">12 травня 2024</p>
            <div class="renewal__text">
              <p>
                Команда "Демонтажнік" успішно завершила великий демонтажний
                проект на металургійному заводі у Дніпрі. Протягом двох місяців
                ми демонтували старе обладнання та підготували територію для
                встановлення нових
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="renewal__img">
            <a href="#">
              <img src="./img/content/renewal_2.png" alt="" class="cover" />
            </a>
          </div>
          <div class="renewal__box">
            <a href="#" class="renewal__title">Нові проєкти на заході країни</a>
            <p class="renewal__date">06 травня 2024</p>
            <div class="renewal__text">
              <p>
                Компанія "Демонтажнік" розпочала роботу над кількома великими
                проектами на заході України. Наші фахівці вже
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="renewal__img">
            <a href="#">
              <img src="./img/content/renewal_3.png" alt="" class="cover" />
            </a>
          </div>
          <div class="renewal__box">
            <a href="#" class="renewal__title"
              >Розширення парку парку парку парку парку парку спецтехніки</a
            >
            <p class="renewal__date">01 травня 2024</p>
            <div class="renewal__text">
              <p>
                Компанія "Демонтажнік" розпочала роботу над кількома великими
                проектами в Західній Україні. Наші фахівці Наші фахівці Наші
                фахівці Наші фахівці Наші фахівці
              </p>
            </div>
          </div>
        </li>
      </ul>

      <div class="renewal__btn-wrapp">
        <a href="#" class="btn-def">Всі новини</a>
      </div>
    </div>
  </div>
</section>
