<section class="services pd1">
  <div class="services__container">
    <h2 class="tlh2">Наші послуги</h2>

    <ul class="services__cards">
      <li class="services__card item-card1">
        <div class="services__box">
          <h4 class="tlh4">Демонтажні роботи</h4>
          <ul>
            <li>Демонтаж будинків</li>
            <li>Демонтаж дорожнього покриття</li>
            <li>Демонтаж металобрухту</li>
            <li>Демонтаж мостів</li>
            <li>Демонтаж димових труб</li>
            <li>Демонтаж фундаменту</li>
            <li>Знесення житлових будинків</li>
            <li>Господарських будівель</li>
            <li>Промислових будівель</li>
            <li>Металоконструкцій</li>
            <li>Демонтаж бетону</li>
            <li>Демонтаж дорожніх плит</li>
            <li>Демонтаж перекриттів</li>
            <li>Бетону і залізобетону</li>
          </ul>
          <a href="#" class="btn-def">Детальніше</a>
        </div>

        <div class="services__img">
          <div><img src="./img/decor/services_1.png" alt="" /></div>
        </div>
      </li>

      <li class="services__card item-card2">
        <div class="services__box">
          <h4 class="tlh4">Земельні роботи та рециклінг</h4>
          <ul>
            <li>Земельні роботи</li>
            <li>Розробка озер та каналів</li>
            <li>Утилізація будівельного сміття і грунту</li>
            <li>Зворотнє засипання і ущільнення грунту</li>
            <li>Розчистка земельних ділянок</li>
            <li>Планування території</li>
          </ul>
          <a href="#" class="btn-def">Детальніше</a>
        </div>

        <div class="services__img">
          <div><img src="./img/decor/services_2.png" alt="" /></div>
        </div>
      </li>
    </ul>
  </div>
</section>
