<section class="video pd1">
  <div class="video__container">
    <h2 class="tlh2 spy">Наші відео на <a href="#">YouTube</a></h2>

    <div class="video__slider splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
            ratione odio possimus praesentium iusto facilis voluptas mollitia
            nihil? Temporibus dicta minima quaerat! Inventore libero quia, dicta
            dignissimos asperiores omnis est?
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
