<section class="video pd1">
  <div class="video__container">
    <h2 class="tlh2 spy">Наші відео на <a href="#">YouTube</a></h2>

    <div class="video__slider splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="video__img">
              <img src="./img/content/video_1.jpg" alt="" class="cover" />
              <div class="btn-play"><span></span></div>
            </div>
            <div class="video__text">
              <p>
                Демонтаж всередині промислової будівлі. Промышленный демонтаж
                внутри помещения ромышленный демонтаж внутри помещенияр
                омышленный демонтаж внутри помещения
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="video__img">
              <img src="./img/content/video_2.jpg" alt="" class="cover" />
              <div class="btn-play"><span></span></div>
            </div>
            <div class="video__text">
              <p>
                Безоплатний демонтаж таунхаусів в м. Гостомель. Знесення
                будинків. Демонтажні роботи Україна
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="video__img">
              <img src="./img/content/video_3.jpg" alt="" class="cover" />
              <div class="btn-play"><span></span></div>
            </div>
            <div class="video__text">
              <p>
                Демонтаж школи в с. Мирне, Миколаївської обл. Знесення будівлі
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="video__img">
              <img src="./img/content/video_1.jpg" alt="" class="cover" />
              <div class="btn-play"><span></span></div>
            </div>
            <div class="video__text">
              <p>
                Демонтаж всередині промислової будівлі. Промышленный демонтаж
                внутри помещения ромышленный демонтаж внутри помещенияр
                омышленный демонтаж внутри помещения
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="video__img">
              <img src="./img/content/video_2.jpg" alt="" class="cover" />
              <div class="btn-play"><span></span></div>
            </div>
            <div class="video__text">
              <p>
                Безоплатний демонтаж таунхаусів в м. Гостомель. Знесення
                будинків. Демонтажні роботи Україна
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="video__img">
              <img src="./img/content/video_3.jpg" alt="" class="cover" />
              <div class="btn-play"><span></span></div>
            </div>
            <div class="video__text">
              <p>
                Демонтаж школи в с. Мирне, Миколаївської обл. Знесення будівлі
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
