<section class="application">
  <div class="application__container">
    <div class="application__info">
      <div class="application__check"><span></span></div>
      <h1 class="tlh2">Заявка на консультацію успішно надіслана</h1>
    </div>
    <div class="application__text">
      <p>
        Ми зв'яжемось з Вами найближчим часом, щоб обговорити деталі та
        відповісти на всі ваші запитання, зручним для вас способом
      </p>
    </div>
    <a href="./index.html" class="btn-def">На головну</a>
  </div>
</section>
